**/*.min.js
**/node_modules/**
node_modules/**
/node_modules/**
swap/node_modules/**
swap/node_modules/**
**/node_modules/
node_modules/
/node_modules/
swap/node_modules/
swap/node_modules/
**/node_modules
node_modules
/node_modules
swap/node_modules
swap/node_modules
swap/static/vis/vis.js
swap/static/leaflet
swap/static/leaflet-polyline