<!DOCTYPE HTML>
<html>
  <head>
  <title>SWAP: A Solver for the Wavelength Assignment Problem</title>
  <!-- Bootstrap -->
  <link href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}" rel="stylesheet">
  <!-- Leaflet CSS -->
  <link href="{{ url_for('static', filename='leaflet/leaflet.css') }}" rel="stylesheet">
  <!-- Vis CSS -->
  <link href="{{ url_for('static', filename='vis/vis-network.min.css') }}" rel="stylesheet">
  <!-- CSS code specific to SWAP -->
  <link href="{{ url_for('static', filename='swap/swap.css') }}" rel="stylesheet">
  <!-- jQuery -->
  <script src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>
  <!-- Bootstrap -->
  <script src="{{ url_for('static', filename='bootstrap/bootstrap.min.js') }}"></script>
  <!-- Leaflet -->
  <script src="{{ url_for('static', filename='leaflet/leaflet.js') }}"></script>
  <!-- Leaflet Polyline -->
  <script src="{{ url_for('static', filename='leaflet-polyline/leaflet.polyline.js') }}"></script>
  <!-- Vis -->
  <script src="{{ url_for('static', filename='vis/vis.js') }}"></script>
  <!-- Alertify -->
  <link href="{{ url_for('static', filename='alertifyjs/css/alertify.min.css') }}" rel="stylesheet">
  </head>
  <div id="graph-transformation" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title">Transformed graph</h4>
        </div>
        <div class="modal-body">
          <div id="network" style="height:400px; width:100%;"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" onclick="wavelengthAssignment('largest_degree_first')">Largest degree first</button>
          <button type="button" class="btn btn-default" onclick="wavelengthAssignment('linear_programming')">Linear programming</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <body>
    <strong><p class="btn btn-danger score" style="min-width:100px; z-index:500; position: absolute; left:45vw; top:10px;" id="score">Result</p></strong>
    <ul id="contextMenu" class="dropdown-menu" role="menu">
      <li><a id="action-button" tabindex="-1" href="#">Routing</a></li>
      <li class="dropdown-submenu">
        <a class="test" tabindex="-1" href="#">Tile layer<span class="caret-right"></span></a>
        <ul class="dropdown-menu pull-right">
          <li><a tabindex="-1" href="#">Open Street Map</a></li>
          <li><a tabindex="-1" href="#">Google Maps</a></li>
          <li><a tabindex="-1" href="#">NASA</a></li>
        </ul>
      </li>
    </ul>
    <div class="panel-group" style="z-index:500; position: absolute; top: 20px; right:20px;">
      <form id="fileform" class="form-horizontal form-label-left" enctype="multipart/form-data" method="post" >
        <div style="padding-bottom:5px;">
          <label class="btn btn-default btn-file" style="width:100%;">Import a graph
            <input id="file" name="file" style="visibility:hidden; display:none" type="file">
          </label>
        </div>
      </form>
    </div>
    <div id="map">
    <!-- Alertify -->
    <script src="{{ url_for('static', filename='alertifyjs/alertify.min.js') }}"></script>
    <script>
      var network = {{ network|tojson|safe }};
      console.log(network);
    </script>
    <script>
      var layers = {
        'osm': 'http://{s}.tile.osm.org/{z}/{x}/{y}.png',
        'gm': 'http://mt0.google.com/vt/lyrs=y&hl=en&x={x}&y={y}&z={z}&s=Ga',
        'nasa': 'http://tileserver.maptiler.com/nasa/{z}/{x}/{y}.jpg'
        };

      var map = L.map('map', { zoomControl:false }).setView([48, 2], 5);
      var osm_layer = L.tileLayer(layers['osm']);
      map.addLayer(osm_layer);
      var current_layer = osm_layer;

      var icon_switch = L.icon({
        iconUrl: 'static/images/optical_switch.gif',
        iconSize: [20, 20], // size of the icon
        iconAnchor: [9, 6], // point of the icon which will correspond to marker's location
        popupAnchor: [8, -5] // point from which the popup should open relative to the iconAnchor
        });



      var polylines = [];
          selectedLines = [];
          link_name_to_polyline = {};

      function unselectLines(){
        for (i = 0; i < selectedLines.length; i++) {
          selectedLines[i].setStyle({color: '#0000FF'});
        }
      }

      map.on("click", function(e) {
        unselectLines();
      });
      


    </script>
    <!-- Swap -->
    <script src="{{ url_for('static', filename='swap/swap.js') }}"></script>
  </body>
</html>
