<!DOCTYPE HTML>
<html>
  <head>
  <title>TSP 2D/3D GIS visualization</title>
  <!-- Bootstrap -->
  <link href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}" rel="stylesheet">
  <!-- Leaflet -->
  <link href="{{ url_for('static', filename='leaflet/leaflet.css') }}" rel="stylesheet">
  <!-- CSS code specific to SWAP -->
  <link href="{{ url_for('static', filename='swap/swap.css') }}" rel="stylesheet">
  <!-- jQuery -->
  <script src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>
  <!-- Bootstrap -->
  <script src="{{ url_for('static', filename='bootstrap/bootstrap.min.js') }}"></script>
  <!-- Leaflet -->
  <script src="{{ url_for('static', filename='leaflet/leaflet.js') }}"></script>
  <!-- Leaflet Polyline -->
  <script src="{{ url_for('static', filename='leaflet-polyline/leaflet.polyline.js') }}"></script>
  </head>
  <body>  
    <form id="aform" method="post">
      <div class="btn-group" style="z-index:500; position: absolute; left:40vw; top:10px;">  
        <div class="btn-group">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Tile layer
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a onclick="switch_layer('osm')"> Open Street Map </a></li>
            <li><a onclick="switch_layer('gm')"> Google Maps </a></li>
            <li><a onclick="switch_layer('nasa')"> NASA </a></li>
          </ul>
        </div> 
  
        <strong><p class="btn btn-danger score" style="min-width:100px;" id="score">Score</p></strong>
      </div>
    </form>
    <div class="panel-group" style="z-index:500; position: absolute; top: 20px; left:20px;">
      <div class="panel panel-primary panel-transparent">
        <div class="panel-heading">RWA solver</div>
        <div class="panel-body">
          <div class="btn-group-vertical btn-block" >
            <button type="button" class="btn btn-primary" onclick="RWA('shortest_path')">Routing</button>
            <button type="button" class="btn btn-primary" onclick="RWA('wavelength_assignment')">Wavelength Assignment</button>
          </div>
        </div>
      </div>
    </div>
  
    <div class="panel-group" style="z-index:500; position: absolute; top: 20px; right:20px;">
      <form id="fileform" class="form-horizontal form-label-left" enctype="multipart/form-data" method="post" >
        <div style="padding-bottom:5px;">
          <label class="btn btn-default btn-file" style="width:100%;">Import a graph
            <input id="file" name="file" style="visibility:hidden; display:none" type="file">
          </label>
        </div>
      </form>
    </div>
    <div id="map">
    <script>
      document.getElementById("file").onchange = function() {
        $("#fileform").submit();
      };
      
      function RWA(algorithm){
        clearLines();
        $.ajax({
          type: "POST",
          url: "/" + algorithm,
          dataType: "json",
          success: function(data){
            draw(...data);
          }
        });
      }

      var layers = {
        'osm': 'http://{s}.tile.osm.org/{z}/{x}/{y}.png',
        'gm': 'http://mt0.google.com/vt/lyrs=y&hl=en&x={x}&y={y}&z={z}&s=Ga',
        'nasa': 'http://tileserver.maptiler.com/nasa/{z}/{x}/{y}.jpg'
        };

      var map = L.map('map', { zoomControl:false }).setView([48, 2], 5);
      var osm_layer = L.tileLayer(layers['osm']);
      map.addLayer(osm_layer);
      var current_layer = osm_layer;
    
      var icon_city = L.icon({
        iconUrl: 'static/images/optical_switch.gif',
        iconSize: [20, 20], // size of the icon
        iconAnchor: [9, 6], // point of the icon which will correspond to marker's location
        popupAnchor: [8, -5] // point from which the popup should open relative to the iconAnchor
        });
    
      {% for properties in objects['Node'].values() %}  
        var marker = L.marker([
          {{ properties['latitude'] }}, 
          {{ properties['longitude'] }}], 
          );
        
        marker.bindPopup("{% for property in properties %}\
        <b>{{ property|capitalize }}</b>: {{ properties[property] }}<br>\
        {% endfor %}<br>");
        
        marker.bindTooltip("{{ properties['name'] }}", {permanent: false, });
        marker.setIcon(icon_city), 
        marker.addTo(map);
      {% endfor %}
      
      function switch_layer(layer){
        map.removeLayer(current_layer);
        current_layer = L.tileLayer(layers[layer]);
        map.addLayer(current_layer);
        }
      
      var polylines = [];
      function clearLines(){
        for (i = 0; i < polylines.length; i++) {
          map.removeLayer(polylines[i]);
          }
        }

      var geoJson = {
        "type": "FeatureCollection",
        "features": [
          {
            "type": "Feature",
            "properties": {
              "lines": [2, 3]
            },
            "geometry": {
              "type": "LineString",
              "coordinates": [
                {% for fiber in objects['Fiber'].keys() %}
                [
                  {{ fiber['source']['longitude'] }},
                  {{ fiber['source']['latitude'] }}
                ],
                [
                  {{ fiber['destination']['longitude'] }},
                  {{ fiber['destination']['latitude'] }}
                ],
                {% endfor %}
              ]
            }
          },
        ]
      };

      var lineWeight = 6;
      var lineColors = ['red', '#08f', '#0c0', '#f80'];

      // manage overlays in groups to ease superposition order
      var outlines = L.layerGroup();
      var lineBg = L.layerGroup();
      var busLines = L.layerGroup();
      var busStops = L.layerGroup();

      var ends = [];
      function addStop(ll) {
        for(var i=0, found=false; i<ends.length && !found; i++) {
          found = (ends[i].lat == ll.lat && ends[i].lng == ll.lng);
        }
        if(!found) {
          ends.push(ll);
        }
      }

      var lineSegment, linesOnSegment, segmentCoords, segmentWidth;
      geoJson.features.forEach(function(lineSegment) {
        segmentCoords = L.GeoJSON.coordsToLatLngs(lineSegment.geometry.coordinates, 0);

        linesOnSegment = lineSegment.properties.lines;
        segmentWidth = linesOnSegment.length * (lineWeight + 1);

        L.polyline(segmentCoords, {
          color: '#000',
          weight: segmentWidth + 5,
          opacity: 1
        }).addTo(outlines);

        L.polyline(segmentCoords, {
          color: '#fff',
          weight: segmentWidth + 3,
          opacity: 1
        }).addTo(lineBg);

        for(var j=0;j<linesOnSegment.length;j++) {
          L.polyline(segmentCoords, {
            color: lineColors[linesOnSegment[j]],
            weight: lineWeight,
            opacity: 1,
            offset: j * (lineWeight + 1) - (segmentWidth / 2) + ((lineWeight + 1) / 2)
          }).addTo(busLines);
        }

        addStop(segmentCoords[0]);
        addStop(segmentCoords[segmentCoords.length - 1]);
      });

      ends.forEach(function(endCoords) {
        L.circleMarker(endCoords, {
          color: '#000',
          fillColor: '#ccc',
          fillOpacity: 1,
          radius: 10,
          weight: 4,
          opacity: 1
        }).addTo(busStops);
      });

      outlines.addTo(map);
      lineBg.addTo(map);
      busLines.addTo(map);
      busStops.addTo(map);

    </script>
  </body>
</html>
