<!DOCTYPE HTML>
<html>
  <head>
  <title>TSP 2D/3D GIS visualization</title>
  <!-- Bootstrap -->
  <link href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}" rel="stylesheet">
  <!-- Leaflet CSS -->
  <link href="{{ url_for('static', filename='leaflet/leaflet.css') }}" rel="stylesheet">
  <!-- Vis CSS -->
  <link href="{{ url_for('static', filename='vis/vis-network.min.css') }}" rel="stylesheet">
  <!-- CSS code specific to SWAP -->
  <link href="{{ url_for('static', filename='swap/swap.css') }}" rel="stylesheet">
  <!-- jQuery -->
  <script src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>
  <!-- Bootstrap -->
  <script src="{{ url_for('static', filename='bootstrap/bootstrap.min.js') }}"></script>
  <!-- Leaflet -->
  <script src="{{ url_for('static', filename='leaflet/leaflet.js') }}"></script>
  <!-- Leaflet Polyline -->
  <script src="{{ url_for('static', filename='leaflet-polyline/leaflet.polyline.js') }}"></script>
  <!-- Vis -->
  <script src="{{ url_for('static', filename='vis/vis.js') }}"></script>
  </head>
  <div id="graph-transformation" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title">Transformed graph</h4>
        </div>
        <div class="modal-body">
          <div id="network" style="height:400px; width:600px;"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" onclick="largest_degree_first()">Largest degree first</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <body>
    <form id="aform" method="post">
      <div class="btn-group" style="z-index:500; position: absolute; left:40vw; top:10px;">  
        <div class="btn-group">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Tile layer
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a onclick="switch_layer('osm')"> Open Street Map </a></li>
            <li><a onclick="switch_layer('gm')"> Google Maps </a></li>
            <li><a onclick="switch_layer('nasa')"> NASA </a></li>
          </ul>
        </div> 

        <strong><p class="btn btn-danger score" style="min-width:100px;" id="score">Score</p></strong>
      </div>
    </form>
    <div class="panel-group" style="z-index:500; position: absolute; top: 20px; left:20px;">
      <div class="panel panel-primary panel-transparent">
        <div class="panel-heading">RWA solver</div>
        <div class="panel-body">
          <div class="btn-group-vertical btn-block" >
            <button type="button" class="btn btn-primary" onclick="routing()">Routing</button>
            <button type="button" class="btn btn-primary" onclick="RWA('graph_transformation')">Transformed graph</button>
            <button type="button" class="btn btn-primary" onclick="RWA('wavelength_assignment')">Wavelength Assignment</button>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-group" style="z-index:500; position: absolute; top: 20px; right:20px;">
      <form id="fileform" class="form-horizontal form-label-left" enctype="multipart/form-data" method="post" >
        <div style="padding-bottom:5px;">
          <label class="btn btn-default btn-file" style="width:100%;">Import a graph
            <input id="file" name="file" style="visibility:hidden; display:none" type="file">
          </label>
        </div>
      </form>
    </div>

    <div id="map">

    <script>
      document.getElementById("file").onchange = function() {
        $("#fileform").submit();
      };

      function routing(){
        $.ajax({
          type: "POST",
          url: "/shortest_path",
          dataType: "json",
          success: function(graph) {}
        });
      }

      var colors = ['red', '#08f', '#0c0', '#f80'];
      var nodes = new vis.DataSet();
      function largest_degree_first(){
        $.ajax({
          type: "POST",
          url: "/graph_coloring/largest_degree_first",
          dataType: "json",
          success: function(results) {
            console.log(results);
            clearLines();
            for (const [key, value] of Object.entries(results['colors'])) {
              console.log(key, colors[value]);
              nodes.update({id: key, color: colors[value]});
              }
            for (const [key, value] of Object.entries(results['fiber_colors'])) {
              var geoJson = {
                "type": "FeatureCollection",
                "features": [
                  {
                    "type": "Feature",
                    "properties": {
                      "lines": value
                    },
                    "geometry": {
                      "type": "LineString",
                      "coordinates": [
                        [...results['coords'][key][0]], [...results['coords'][key][1]],
                      ]
                    }
                  },
                ]
              };
            
              var lineWeight = 6;

              // manage overlays in groups to ease superposition order
              var outlines = L.layerGroup();
              var lineBg = L.layerGroup();
              var busLines = L.layerGroup();
              var busStops = L.layerGroup();

              var lineSegment, linesOnSegment, segmentCoords, segmentWidth;
              geoJson.features.forEach(function(lineSegment) {
                segmentCoords = L.GeoJSON.coordsToLatLngs(lineSegment.geometry.coordinates, 0);
                linesOnSegment = lineSegment.properties.lines;
                segmentWidth = linesOnSegment.length * (lineWeight + 1);

                L.polyline(segmentCoords, {
                  color: '#000',
                  weight: segmentWidth + 5,
                  opacity: 1
                }).addTo(outlines);

                L.polyline(segmentCoords, {
                  color: '#fff',
                  weight: segmentWidth + 3,
                  opacity: 1
                }).addTo(lineBg);

                for(var j=0;j<linesOnSegment.length;j++) {
                  L.polyline(segmentCoords, {
                    color: colors[linesOnSegment[j]],
                    weight: lineWeight,
                    opacity: 1,
                    offset: j * (lineWeight + 1) - (segmentWidth / 2) + ((lineWeight + 1) / 2)
                  }).addTo(busLines);
                }
              });

              outlines.addTo(map);
              lineBg.addTo(map);
              busLines.addTo(map);
              busStops.addTo(map);

            }
          }
        });
      }

      function RWA(algorithm){
        $.ajax({
          type: "POST",
          url: "/" + algorithm,
          dataType: "json",
          success: function(graph){
            $('#graph-transformation').modal('show');
            nodes.add(graph['nodes']);
            var edges = new vis.DataSet(graph['links']);
            const container = $("#network");
            var data = {nodes: nodes, edges: edges};
            var options = {};
            const network = new vis.Network(container[0], data, options);
          }
        });
      }

      var layers = {
        'osm': 'http://{s}.tile.osm.org/{z}/{x}/{y}.png',
        'gm': 'http://mt0.google.com/vt/lyrs=y&hl=en&x={x}&y={y}&z={z}&s=Ga',
        'nasa': 'http://tileserver.maptiler.com/nasa/{z}/{x}/{y}.jpg'
        };

      var map = L.map('map', { zoomControl:false }).setView([48, 2], 5);
      var osm_layer = L.tileLayer(layers['osm']);
      map.addLayer(osm_layer);
      var current_layer = osm_layer;
    
      var icon_switch = L.icon({
        iconUrl: 'static/images/optical_switch.gif',
        iconSize: [20, 20], // size of the icon
        iconAnchor: [9, 6], // point of the icon which will correspond to marker's location
        popupAnchor: [8, -5] // point from which the popup should open relative to the iconAnchor
        });
    
      {% for properties in objects['Node'].values() %}  
        var marker = L.marker([{{ properties['latitude'] }}, {{ properties['longitude'] }}]);
        marker.bindPopup("{% for property in properties %}\
        <b>{{ property|capitalize }}</b>: {{ properties[property] }}<br>\
        {% endfor %}<br>");
        marker.bindTooltip("{{ properties['name'] }}", {permanent: false, });
        marker.setIcon(icon_switch), 
        marker.addTo(map);
      {% endfor %}
      
      function switch_layer(layer){
        map.removeLayer(current_layer);
        current_layer = L.tileLayer(layers[layer]);
        map.addLayer(current_layer);
        }

      var polylines = [];
          selectedLines = [];
          link_name_to_polyline = {};

      function clearLines(){
        for (i = 0; i < polylines.length; i++) {
          map.removeLayer(polylines[i]);
        }
      }

      function unselectLines(){
        for (i = 0; i < selectedLines.length; i++) {
          selectedLines[i].setStyle({color: '#245611'});
        }
      }

      {% for link, properties in objects['Fiber'].items() %}
        var pointA = new L.LatLng({{ link['source']['latitude'] }}, {{ link['source']['longitude'] }});
        var pointB = new L.LatLng({{ link['destination']['latitude'] }}, {{ link['destination']['longitude'] }});
        var pointList = [pointA, pointB];

        var polyline = new L.Polyline(pointList, {
          color: '#245611',
          weight: 3,
          opacity: 1,
          smoothFactor: 1
          });

        polyline.addTo(map);
        polylines.push(polyline);
        link_name_to_polyline["{{ link.name }}"] = polyline;
        
        polyline.bindPopup("{% for property in properties %}\
        <b>{{ property|capitalize }}</b>: {{ properties[property] }}<br>\
        {% endfor %}<br>");
      {% endfor %}

      {% for link, properties in objects['Traffic'].items() %}
        var pointA = new L.LatLng({{ link['source']['latitude'] }}, {{ link['source']['longitude'] }});
        var pointB = new L.LatLng({{ link['destination']['latitude'] }}, {{ link['destination']['longitude'] }});
        var pointList = [pointA, pointB];

        var polyline = new L.Polyline(pointList, {
          color: '#245611',
          weight: 3,
          opacity: 1,
          smoothFactor: 1
          });

        polyline.addTo(map);
        polylines.push(polyline);
        polyline.on('click', function() {
          $.ajax({
            type: "POST",
            url: "/path_" + "{{ link.name }}",
            dataType: "json",
            success: function(data){
              unselectLines();
              for (i = 0; i < data.length; i++) {
                polyline = link_name_to_polyline[data[i]];
                selectedLines.push(polyline);
                polyline.setStyle({color: 'red'});
              }
            }
          });
        });
        
        polyline.bindPopup("{% for property in properties %}\
        <b>{{ property|capitalize }}</b>: {{ properties[property] }}<br>\
        {% endfor %}<br>");
      {% endfor %}
    </script>
  </body>
</html>
